body {
    background-image: url(https://phonoteka.org/uploads/posts/2021-04/thumbs/1619115796_51-phonoteka_org-p-fon-dlya-zuma-smeshnoi-57.png);
    background-size: 100%;
}

input {
    width: 250px;
    height: 30px;
    background-color: rgba(4, 147, 11, 0.376);
    color: white;
}

h1 {
    text-align: center;
    color: green;
    font-size: 24px;
    text-shadow: 3px 3px 3px black;
}

h2 {
    color: white;
    font-size: 24px;
    text-shadow: 3px 3px 3px black;
}

div {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    width: 400px;
    height: 250px;
    border: 5px solid green;
    box-shadow: 4px 4px 10px green;
    border-radius: 30px;
}

#result1 {
    margin-left: 600px;
    margin-top: 250px;
    color: white;
    font-size: 24px;
    width: 200px;
    text-align: center;
}

button {
    background-color: chartreuse;
    border-radius: 50px;
    height: 40px;
}